body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 100;
    padding: 0;
    flex-direction: column;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

form {
    margin-top: 20px;
}

input[type=file] {
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=button] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

input[type=button]:hover {
    background-color: #45a049;
}

p {
    margin-top: 20px;
    color: #333;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.file-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

/* input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
} */

.file-upload-label {
    display: inline-block;
    padding: 8px 16px;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.file-upload-label:hover {
    background-color: #2980b9;
}

.image-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

img {
    margin: 10px;
    max-width: 300px;
    height: auto;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 48px;
}

.triangles-container {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    align-items: center;
    margin-top: 20px;
}

.triangles-container div {
    text-align: center;
    padding: 10px; /* Add padding for better spacing */
}

.triangles-container img {
    max-width: 100px; /* Set the maximum width for the images */
    height: auto;
    margin-top: 10px;
}

